body{background-color: #ddd!important;}

.nomargin{margin: 0!important;}
.nopadding{padding: 0px!important;}
label{&.error{color: red; font-style: italic; font-weight: normal;}}
.row{margin-left: 0!important; margin-right: 0!important; .smallpadding{padding: 0px 5px!important;}}
.overflow{overflow: auto!important;}
.panel-body{&.login{padding: 40px 0px;}}
table{th,td{white-space: nowrap; font-size: 14px;}}
.datepicker{padding: 0px!important;}

input, textarea, select, button{border-radius: 0px!important;}
textarea{resize: none;}

// Data Table
#DataTables_Table_0_wrapper{padding: 40px 0px!important;}

// Navigation
nav{border-radius: 0px!important;}

// Content
#box-content{
	background-color: #fff;
	padding: 40px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

// Monitor
#banner{
	img{width: 100%;}
}

// Footer
footer{margin-top: 100px; padding: 30px 0px;}